<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @note.timestamp %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @note.tag %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes %>
</p>

<p>
  <strong>Assessment:</strong>
  <%= @note.assessment %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@note.picture_url, :width => 600) if @note.picture.present? %>
</p>

<p>
  <strong>Followup:</strong>
  <%= @note.followup %>
</p>

<p>
  <strong>Nextappointment:</strong>
  <%= @note.nextappointment %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
