<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :psh_comments %><br>
    <%= f.text_field :psh_comments %>
  </div>
  <div class="field">
    <%= f.label :psh_keyEvents %><br>
    <%= f.text_field :psh_keyEvents %>
  </div>
  <div class="field">
    <%= f.label :fmh_comments %><br>
    <%= f.text_field :fmh_comments %>
  </div>
  <div class="field">
    <%= f.label :fmh_picture %><br>
    <%= f.text_field :fmh_picture %>
  </div>
  <div class="field">
    <%= f.label :fmh_keyevents %><br>
    <%= f.text_field :fmh_keyevents %>
  </div>
  <div class="field">
    <%= f.label :pmh_comments %><br>
    <%= f.text_field :pmh_comments %>
  </div>
  <div class="field">
    <%= f.label :pmh_majorevents %><br>
    <%= f.text_field :pmh_majorevents %>
  </div>
  <div class="field">
    <%= f.label :pmh_medication %><br>
    <%= f.text_field :pmh_medication %>
  </div>
  <div class="field">
    <%= f.label :pmh_allergies %><br>
    <%= f.text_field :pmh_allergies %>
  </div>
  <div class="field">
    <%= f.label :pmh_existingconditions %><br>
    <%= f.text_field :pmh_existingconditions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
