<p id="notice"><%= notice %></p>

<p>
  <strong>Psh comments:</strong>
  <%= @history.psh_comments %>
</p>

<p>
  <strong>Psh keyevents:</strong>
  <%= @history.psh_keyEvents %>
</p>

<p>
  <strong>Fmh comments:</strong>
  <%= @history.fmh_comments %>
</p>

<p>
  <strong>Fmh picture:</strong>
  <%= @history.fmh_picture %>
</p>

<p>
  <strong>Fmh keyevents:</strong>
  <%= @history.fmh_keyevents %>
</p>

<p>
  <strong>Pmh comments:</strong>
  <%= @history.pmh_comments %>
</p>

<p>
  <strong>Pmh majorevents:</strong>
  <%= @history.pmh_majorevents %>
</p>

<p>
  <strong>Pmh medication:</strong>
  <%= @history.pmh_medication %>
</p>

<p>
  <strong>Pmh allergies:</strong>
  <%= @history.pmh_allergies %>
</p>

<p>
  <strong>Pmh existingconditions:</strong>
  <%= @history.pmh_existingconditions %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
