<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Prefname:</strong>
  <%= @patient.prefname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Martialstat:</strong>
  <%= @patient.martialstat %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @patient.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @patient.postcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Emergencyname:</strong>
  <%= @patient.emergencyname %>
</p>

<p>
  <strong>Emergencyphone:</strong>
  <%= @patient.emergencyphone %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
