<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :businessaddress %><br>
    <%= f.text_field :businessaddress %>
  </div>
  <div class="field">
    <%= f.label :businesssuburb %><br>
    <%= f.text_field :businesssuburb %>
  </div>
  <div class="field">
    <%= f.label :businesspostcode %><br>
    <%= f.text_field :businesspostcode %>
  </div>
  <div class="field">
    <%= f.label :businessphone %><br>
    <%= f.text_field :businessphone %>
  </div>
  <div class="field">
    <%= f.label :businessmobile %><br>
    <%= f.text_field :businessmobile %>
  </div>
  <div class="field">
    <%= f.label :medicalproviderno %><br>
    <%= f.text_field :medicalproviderno %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
