<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Businessaddress:</strong>
  <%= @doctor.businessaddress %>
</p>

<p>
  <strong>Businesssuburb:</strong>
  <%= @doctor.businesssuburb %>
</p>

<p>
  <strong>Businesspostcode:</strong>
  <%= @doctor.businesspostcode %>
</p>

<p>
  <strong>Businessphone:</strong>
  <%= @doctor.businessphone %>
</p>

<p>
  <strong>Businessmobile:</strong>
  <%= @doctor.businessmobile %>
</p>

<p>
  <strong>Medicalproviderno:</strong>
  <%= @doctor.medicalproviderno %>
</p>

<p>
  <strong>Username:</strong>
  <%= @doctor.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @doctor.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
